{% if 'mollie_payment_link' in payment_code %}
    <label for="input-mollie-payment-link" class="col-sm-2 col-form-label">{{ entry_mollie_payment_link }}</label>
    <div class="col-sm-10">
    <div class="form-check form-switch form-switch-lg">
        <input type="hidden" name="mollie_payment_link" value="0"/>
        <input type="checkbox" name="mollie_payment_link" value="1" id="input-mollie-payment-link" class="form-check-input"/>
    </div>
    </div>
</div>
<div class="row mb-3">
{% endif %}

<script type="text/javascript"><!--
$(document).ready(function() {
    var molliePendingStatus = '{{ mollie_pending_status_id }}';
    var currentOrderStatus = '{{ order_status_id }}';

    if (currentOrderStatus === '0' && molliePendingStatus) {
        $('#input-order-status').val(molliePendingStatus);
    }

    // 1. Actions when the Mollie Payment Link switch is turned on
    $('#input-mollie-payment-link').on('change', function() {
        if ($(this).is(':checked')) {
            // Vink 'Klant informeren' aan
            $('#input-notify').prop('checked', true);
            
            // Verander de dropdown direct mee naar 'In afwachting van betaling'
            if (molliePendingStatus && molliePendingStatus !== '0') {
                $('#input-order-status').val(molliePendingStatus);
            }
        }
    });

    // 2. Send the status of the mollie payment link (AJAX) to the server
    $(document).ajaxSend(function(event, jqxhr, settings) {
        if (settings.url && (settings.url.indexOf('sale/order.history') !== -1 || settings.url.indexOf('sale/order.call') !== -1)) {
            if ($('#input-mollie-payment-link').is(':checked')) {
                if (typeof settings.data === 'string') {
                    settings.data += '&mollie_send_payment_link=1';
                }
            }
        }
    });

    // 3. Mollie UI Fixes & Auto-Reloads
    $(document).ajaxComplete(function(event, xhr, settings) {
        if (typeof settings.url === "string") {
            
            // Fix 1: Remove broken Mollie image HTML from popup (iDEAL logo error)
            if (settings.url.indexOf("payment_method") !== -1) {
                setTimeout(function() {
                    var $form = $("#form-payment-method");
                    var $input = $form.find("input[name=\'payment_method[name]\']");
                    
                    if ($input.length > 0) {
                        var val = $input.val();
                        if (val && (val.indexOf("<") !== -1 || val.indexOf("&lt;") !== -1)) {
                            var cleanText = val.replace(/(&lt;|<)img.*?(>|&gt;)/gi, "").replace(/"/g, "").trim();
                            $input.val(cleanText);
                        }
                        
                        $form.contents().filter(function() {
                            return this.nodeType === 3 && this.nodeValue.indexOf("id=\"input-payment") !== -1;
                        }).remove();
                    }
                }, 50);
            }

            // Fix 2: Redirect to the correct page when an order is saved
            if (settings.url.indexOf("call=confirm") !== -1) {
                if (xhr.responseJSON && xhr.responseJSON.success) {
                    setTimeout(function() {
                        var orderId = xhr.responseJSON.order_id;
                        if (!orderId) {
                            orderId = $('#input-order-id').val();
                        }
                        
                        if (orderId) {
                            var urlParams = new URLSearchParams(window.location.search);
                            var userToken = urlParams.get('user_token');
                            window.location.href = 'index.php?route=sale/order.info&user_token=' + userToken + '&order_id=' + orderId;
                        } else {
                            location.reload();
                        }
                    }, 1000);
                }
            }
        }
    });
});
//--></script>